<div class="row">
  <div class="col col-sm-6">

    <h1>Questions:</h1>

    {{#each model.questions as |question|}}
    {{question-tile question=question}}
    {{/each}}

    {{new-question save="save" model=model}}
  </div>
    <div class="col col-sm-6">
      {{display-favorites}}
    </div>
</div>
