<div class="center">
  <h4><span class="glyphicon glyphicon-fire fire"></span> = Question has 5 or more answers.</h4>
</div>
<div class="row">
  <div class="col col-sm-6">

    <h1>Questions:</h1>

    {{#each model.questions as |question|}}
    {{question-tile question=question}}
    {{/each}}

    {{new-question save="save" model=model}}
  </div>
  <div class="col col-sm-2">
  </div>
  <div class="col col-sm-4">
    {{display-favorites}}
  </div>
</div>
